* {
    box-sizing: border-box;   
}

head, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F7FB;
    overflow: hidden;
    font-family: "Karla", sans-serif;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.blob {
    position: fixed;
    width: 297px;
    height: 235px;
}

.blob-yellow {
    top: -66px;
    right: -50px;
    background: #fffad1;
    border-radius: 10% 10% 20% 80% / 10% 70% 10% 70%;
}

.blob-blue {

    left: -50px;
    bottom: -50px;
    border-radius: 20% 40% 30% 70% / 40% 50% 30% 40%;

    background: #DEEBF8;
}

section {
    text-align: center;
}

h1.title {
    font-size: 2rem;
    font-weight: bold;
    color: #293264;
    margin: 0;
}

h3.description {
    color: #293264;
    margin: 10px 0;
}

button.start-quiz {
    height: 52px;
    width: 193px;
    background-color: #4D5B9E;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    color: white;
    margin-top: 2em;
}

/* Quiz page */

.question {
    text-align: left;
}

.question > h3 {
    font-weight: bold;
    color: #293264;
    margin-bottom: 1em;
}

.answer-options {
    display: flex;
}

.answer-options > input[type='radio'] {
    visibility: hidden;
}

.answer-options > label {
    
    cursor: pointer;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    padding: 3px 15px;
    font-size: 0.85rem;
    font-weight: 500;
    color: #293264;
}

.answer-options > input[type='radio']:checked + label {
    background-color: #293264;
}

hr {
    margin-top: 1.25em;
    border: none;
    height: 2px;
    background-color: #DBDEF0;
}

.quiz > button {
    height: 45px;
    width: 150px;
    border: none;
    background-color: #4D5B9E;
    color: #DBDEF0;
    border-radius: 10px;
    margin-top: 2em;
    font-weight: bold;
}