body {
    margin: 0;
    font-family: Smythe, sans-serif;
    width: 600px;
    height: 1200px;

} 
h3 {
    margin: 0;
}
p {
    margin: 0;
}

#blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background: rgba(255,255,255,0.2);
    z-index: 100;
    display: none;
}

.header {
    background-image: url('images/burger.jpg');
    background-size: cover;
    background-position-y: 65%;
    height: 167px;
}

.header-text {
    color: #FFFFFF;
    margin-left: 46px;
}

#restaurant-name {
    padding-top: 47px;
    font-size: 39px;
    margin-bottom: 0;
}

#restaurant-slogan {
    margin-top: 5px;
    font-size: 22px;
}

#food-options {
    margin-top: 40px;
}
.food-item {
    display: flex;
    flex-direction: row;
    width: 508px;
    height: 140px;
    border-bottom: 1px solid #D2D2D2;
    margin: 35px auto 0 auto;
    padding: 10px 0;
}
.emoji {
    margin: auto 30px auto 0;
    font-size: 79px;

}
.food-info {
    margin: auto 0;
}
.food-name {
    font-size: 28px;
    margin-bottom: 8px;
}
.food-description {
    color: #8B8B8B;
    font-size: 16px;
    margin-bottom: 10px;
}

i {
    margin: auto 0 auto auto;
    font-size: 50px;
}

#your-order {
    display: block;
    width: 508px;
    margin: 40px auto 0 auto;
}

#order-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}

#selected-food {
    display: block;
    padding-bottom: 20px;
    border-bottom: 2px solid #393333;
}
.selected-food-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.selected-food-left {
    display: flex;
    font-size: 28px;
    gap: 15px;
}

.remove-btn {
    background-color: white;
    border: 0;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #BBBBBB;
}

.remove-btn:hover, .remove-btn:active {
    text-decoration: underline;
}

.selected-food-right {
    display: flex;
    align-items: center;

}
.item-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.add-item {
    font-size: 20px;
    margin-right: 10px;
}

.subtract-item {
    font-size: 20px;
    margin-left: 10px;
}

#order-summary {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 40px 0;
}

#summary-title {
    font-size: 28px;
}

#total-price {
    font-size: 20px;
}

#order-btn {
    width: 508px;
    height: 60px;
    border: 0;
    background-color: #16DB99;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}

#order-success {
    display: none;
    flex-direction: column;
    width: 504px;
    height: 180px;
    background-color: #ECFDF5;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #065F46;
}

#new-order {
    background-color: transparent;
    border: 1px solid #065F46;
    color:#065F46;
    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 4px;
}

#new-order:hover, #new-order:active {
    background-color: #17d797c6;
}

#checkout-form {
    display: none;
    position: fixed;
    left: 38px;
    top: 292px;
    height: 542px;
    width: 542px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px black;
    z-index: 101;

}
#exit {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
#form-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-top: 0;
}

#input-fields {
    display: block;
    text-align: center;
    margin: 50px 0 40px 0;

}

.form-input {
    width: 475px;
    height: 71px;
    margin-bottom: 20px;
    color: #757575;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: 1px solid #757575;
    border-radius: 4px;
    padding-left: 30px;
}

#submit-btn {
    width: 475px;
    height: 71px;
    color: white;
    background-color: #16DB99;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    border: 0;
}

