*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000C36;

}

.page-content {
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    height: fit-content;
}

#header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.header-image {
    width: 99px;
    height: 108px;
}

.header-title {
    color: #FFFFFF;
    font-size: 2.8rem;
    margin-top: 0.5rem;
    font-family: "Carter One", sans-serif;
}

#preference-form {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

#input-section {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.input-label {
    font-size: 1rem;
    font-family: "Roboto Slab", sans-serif;
    margin-bottom: 1rem;
}

.input-area {
    height: 5rem;
    border-radius: 10px;
    border: none;
    background-color: #3B4877;
    font-family: "Roboto Slab", sans-serif;
    font-size: 0.875rem;
    padding: 0.5rem;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 2rem;
}

.input-area:focus {
    outline: none;
}

.first-page {
    text-align: center;
    height: 4rem;
    font-size: 1.125rem;
    padding: 1.125rem 0;
}

.first-page::placeholder {
    color: #000C36;
}

.radio-div {
    margin-bottom: 2rem;
}

.radio-btn {
    display: none;
}

.radio-label {
    padding: 0.25rem 1rem;
    border-radius: 5px;
    background-color: #3B4877;
    font-size: 0.875rem;
    font-family: "Roboto Slab", sans-serif;
    margin-right: 0.25rem;
}

.radio-label:hover {
    background-color: #29314e;
    cursor: pointer;
}

.radio-btn:checked + .radio-label {
    background-color: #29314e;
}

#submit-btn {
   height: 4.4rem;
   background-color: #51E08A;
   color:#000C36;
   border-radius: 10px;
   font-family: "Roboto Slab", sans-serif;
   font-weight: bold;
   font-size: 1.875rem;
   cursor: pointer;
}

.margin-top {
    margin-top: 1em;
}

.output-text {
    font-family: 'Roboto Slab';
    font-size: 1.125rem;
    height: fit-content;
    width: auto;
}

.movie-title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
    
}